
#title{
    width: 50px;
    height: 50px;
}

h1{
    text-align:center;
    font-style:italic;
    font-size: 50px;
}

table, th, td{
    border: 1px solid;
    border-color:#f1e6dd;
    text-align: center;
    border-spacing: 50px;
}
table{
    color:black;
    margin-left: auto;
    margin-right: auto;
}

th{
    font-style: italic;
    font-size:35px;
}
td{
    font-size:15px;
    color:rgb(0, 0, 0); 
    font-family:'Garamond', Serif;
    line-height: 35px;
}

#activities{
    font-family:'Georgia', Serif;
    font-size:  20px;
}

#fd{
    color:rgb(0, 0, 0); 
}

body{
    background-color: #f1e6dd;
}


#end{
    width:100px;
    height:100px;
}